.manage-speciaty-container {
    height: 100vh;

    .title {
        font-size: 30px;
    }

    .container {
        .markdown {
            width: 100%;
        }

        .btn {
            margin-top: 10px;
            width: 100px;
        }
    }

}